[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "contrib/hephaestus"]
	path = contrib/hephaestus
	url = https://github.com/aurora-multiphysics/hephaestus
