Content:
    platypus:
        root_dir: ${ROOT_DIR}/doc/content
    moose:
        root_dir: ${MOOSE_DIR}/framework/doc/content
        content:
            - contrib/**
            - css/**
            - js/**
            - media/**

Renderer:
    type: MooseDocs.base.MaterializeRenderer

Extensions:
    MooseDocs.extensions.navigation:
        name: Platypus
        repo: https://github.com/aurora-multiphysics/platypus
        menu:
            Getting Started:
                Installing Platypus: installation.md
                Docker Container: installation/using_docker.md
                CSD3 Build Scripts: installation/csd3_build.md
            Overview:
                Key Components: components.md                  
            Documentation:
                Source: source/index.md
                Doxygen: doxygen.md
    MooseDocs.extensions.appsyntax:
        executable: ${ROOT_DIR}
        includes:
            - include
        active: true

Translator:
    type: MooseDocs.base.Translator
    destination: ${ROOT_DIR}/doc/build/